
<nav class='navbar navbar-default'>
  <div class='conatiner-fluid'>
      <div class='collapse navbar-collapse'>
        <ul class='nav navbar-nav navbar-right'>
          <li><a href=''>Login</a></li>
          <li><a href=''>Sign Up</a></li>
          <li><a href=''>Logout</a></li>
        </ul>
      <div>  
      <div class='navbar-header'>
        <a href='landing' class='navbar-brand'>BostonSW</a>
      </div>
  <div>
</nav>